    <nav class="navbar navbar-expand-lg" style="background-color: #eae8e485;">
      <div class="container-fluid">
        <a class="navbar-brand" href="\home">HHMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="\home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="\anagraphicAnalysis">Anagraphic analysis</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Prevision
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/heartHealth">Heart Health</a></li>
                <li><a class="dropdown-item" href="/deadProbability">Mortality</a></li>
                <li><a class="dropdown-item" href="#">Hospitalizations</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/patients">Patients</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="unset()" href="">Log-out</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>
