<!--<iframe src="https://drive.google.com/file/d/1LGLxmP6h9mDhi_urNAngsCMSzk_IzsMy/preview" width="640" height="480" allow="autoplay"></iframe>-->
<!--http://drive.google.com/uc?export=view&id=1LGLxmP6h9mDhi_urNAngsCMSzk_IzsMy-->
<nav class="navbar navbar-expand-lg" style="background-color: #eae8e485;">
    <div class="container-fluid">
      <a class="navbar-brand" href="\home">HHMS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="\home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="\anagraphicAnalysis">Anagraphic analysis</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Prevision
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/heartHealth">Heart Health</a></li>
              <li><a class="dropdown-item" href="/deadProbability">Mortality</a></li>
              <li><a class="dropdown-item" href="#">Hospitalizations</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/patients">Patients</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="unset()" href="">Log-out</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="bg-image"
    style="background-image: url('https://www.mantovasitiweb.it/images/slider2.jpg');background-size: cover;">
    <h1>Home</h1>

    <div class="card" style="width: 40rem;">
        <div class="input-group">
            <span class="input-group-text">Start Date - End Date</span>
            <input type="date" class="form-control" id="inputStartDate" [(ngModel)]="startDate" name="inputStartDate">
            <input type="date" class="form-control" id="inputEndDate" [(ngModel)]="endDate" name="inputEndDate">
            <button type="submit" (click)="filterData()" class="btn btn-info">Filter</button>
        </div>
    </div>
    <br>

    <div>
        <div class="container text-center">
            <div class="row">
                <div class="col" max-width="xs">
                    <div class="card; container-fluid" style="width: 30rem;">
                        <div class="card" style="width:5rem">
                            <button type="button" (click)="setView(1)" class="btn btn-success">View</button>
                        </div>
                        <div class="card-body" *ngIf="healthGraph!=0">
                            <div *ngIf="healthGraph==1">
                                <canvas baseChart [data]="healthBarCharData" [options]="healthBarChartOption"
                                    [plugins]="barChartPlugins" [legend]="barChartLegend" [type]="'bar'" width="800"
                                    height="850">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" max-width="xs">
                    <div class="card; container-fluid" style="width: 18rem;background-color: #c4ff0100">

                    </div>
                </div>
                <div class="col" max-width="xs">
                    <div class="card; container-fluid" style="width: 30rem;">
                        <div class="card" style="width:5rem">
                            <button type="button" (click)="setView(2)" class="btn btn-success">View</button>
                        </div>
                        <div class="card-body" *ngIf="mortalityGraph!=0">
                            <div *ngIf="mortalityGraph==1">
                                <canvas baseChart [data]="mortalityBarCharData" [options]="mortalityBarChartOption"
                                    [plugins]="barChartPlugins" [legend]="barChartLegend" [type]="'bar'" width="800"
                                    height="850">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br>
            <div class="row">
                <div class="col" max-width="xs">
                    <div class="card; container-fluid" style="width: 30rem;">
                        <div class="card" style="width:5rem">
                            <button type="button" (click)="setView(3)" class="btn btn-success">View</button>
                        </div>
                        <div class="card-body" *ngIf="ecgGraph!=0">
                            <div *ngIf="ecgGraph==1">
                                <canvas baseChart [data]="ecgBarCharData" [options]="ecgBarChartOption"
                                    [plugins]="barChartPlugins" [legend]="barChartLegend" [type]="'bar'" width="800"
                                    height="850">
                                </canvas>
                            </div>
                            <div *ngIf="ecgGraph==2">
                                <canvas baseChart [type]="'pie'" [datasets]="pieChartDatasets" [labels]="pieChartLabels"
                                    [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend"
                                    width="450" height="500">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" max-width="xs">
                    <div class="card; container-fluid" style="width: 18rem;background-color: #c4ff0100">

                    </div>
                </div>
                <div class="col" max-width="xs">
                    <div class="card; container-fluid" style="width: 30rem;">
                        <div class="card" style="width:5rem">
                            <button type="button" (click)="setView(4)" class="btn btn-success">View</button>
                        </div>
                        <div class="card-body" *ngIf="hospitalizationGraph !=0">
                            <canvas baseChart [data]="hospitalizationBarCharData"
                                [options]="hospitalizationBarChartOption" [plugins]="barChartPlugins"
                                [legend]="barChartLegend" [type]="'bar'" width="800" height="900">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  </div>
   </div>-->
    </div>
</div>